<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <div id="dropper" class="container vert-center fill text-muted text-center">
      <img src="../logo/logo.svg" class="pb-3" width="150px" />
      <h1>Welcome to Muse!</h1>
      Please drag and drop in your first library (wherever your files are stored) so we can get started.
    </div>
  </body>
  <script src="../js/renderers/changeActiveLibrary.js"></script>
</html>
